/* .modal {
  animation: 0.5s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */
